html, body {
  margin: 0;
  padding: 0;
}

h1 {
    margin-top: 0;
    background-color: #2b2b2b;
    color: #ffffff;
    height: 8%;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

p {
    color: red;
}
