body {
    /*background-color: powderblue;*/
}
h1 {
    /*top right bottom left*/
    padding: 25px 50px 75px 100px;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
}
p {
    color: red;
}
