/*T R B L*/
html, body, header, h1, p, section, div, span, form {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 100%;
    /*border: 1px solid red;*/
}

section {
    height: 87%;
    margin: 0% 0% 1% 0%;
}

header {
    background-color: rgba(48, 48, 48, 1);
    height: 10%;
    margin-bottom: 0.5%;
    width: 100%;
}

#homeButton {
    color: rgba(255, 255, 255, 1);
    width: 20%;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2.5em;
    text-align: center;
    cursor:pointer;
    padding: 0;
}

div.column {
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 3em;
    width: 49.0%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

span {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

#readAMessage {
    color : white;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    margin: 0 0.2% 0.5% 0.49%;
    float: left;
}

#readPicture {
    background-image : url('/read.jpg');
    background-size: 100% auto;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#writeAMessage {
    color : black;
    margin: 0 0.5% 0.5% 0.2%;
    float: right;
}

#writePicture {
    background-image : url('/write.jpg');
    background-size: cover;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.9;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

div.writeForm {
    display: none;
    height: 87%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

textarea {
    display: block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0% 2.5% 1% 2.5%;
    width: 95%;
    height: 80%;
    font-size: 2em;
}

#submitNoteButton{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: block;
    margin: auto;
    background-color: rgba(0, 229, 183, 1);
    color: black;
    padding: 0.5% 1.2%;
    font-size: 2em;
    cursor: pointer;
}

#submitNoteButton:hover {
    background-color: rgba(0, 201, 161, 0.5);
}

#submitNoteButton:active {
    position:relative;
    top:1px;
}

#successfulSubmission {
    display: block;
    height: 11%;
    width: 98%;
    margin: 0% 1% 1% 1%;
    background-color: rgb(247, 239, 222);
    text-align: center;
    font-size: 3em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#readBox {
    display: inline-block;
    position: relative;
    background-color: rgb(247, 239, 222);
    height: 87%;
    margin: 0% 1% 1% 1%;
    width: 78%;
    font-size: 3em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    overflow: scroll;
}

#noteString {
    margin: 0;
    display: inline;
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#leftSide {
    float: left;
    height: 87%;
    width: 10%;
}

#rightSide {
    float: right;
    height: 87%;
    width: 10%;
}

#nextMessage {
    margin: 0% 1% 0% 0%;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 3em;
    width: 100%;
    height: 73.6%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#prevMessage {
    margin: 0% 1% 0% 0%;
    cursor: pointer;
    position: relative;
    text-align: center;
    font-size: 3em;
    width: 100%;
    height: 73.6%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#goToWriteRight {
    margin: 1% 1% 1% 0%;
    cursor: pointer;
    position: relative;
    color: black;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: 26%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#writeNowRight {
    background-image : url('/write_now.jpg');
    background-size: cover;
    content : "";
    position: absolute;
    top: 0;
    opacity: 0.7;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#goToWriteLeft {
    margin: 1% 1% 1% 0%;
    cursor: pointer;
    position: relative;
    color: black;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: 26%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#writeNowLeft {
    background-image : url('/write_now.jpg');
    background-size: cover;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.7;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#readNext {
    background-image : url('/read_next.jpg');
    background-size: cover;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.9;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#readPrev {
    background-image : url('/read_next.jpg');
    background-size: cover;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.9;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

footer {
    height: 10%;
    width: 100%;
    margin: 1% 0%;
    background-color: cornsilk;
    display: block;
    text-align: center;
}